@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

html {
    scroll-behavior: smooth;
}

body {
    font-size: 100%;
    background: #292929;
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
}

header {
    padding-top: 1px;
}

.cabecalho-menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 20px;
    font-weight: 400;
    padding: 20px; 
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: auto; 
    z-index: 1000;
    background-color: transparent; 
    transition: background-color 0.5s, padding 0.5s;
}

.cabecalho-menu.rolagem {
    background-color: #292929;
    padding: 1px;
    padding-bottom: 10px;
    height: auto;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
}

.cabecalho-menu-logo {
    width: 136px;
    padding-top: 50px;
    transition: width 0.5s;
}

.cabecalho-menu.rolagem .cabecalho-menu-logo {
    width: 80px;
}

.cabecalho-menu-ancoras {
    display: flex;
    gap: 50px;
    padding-top: 50px;
}

.cabecalho-menu-ancoras a {
    color: #898989;
    transition: background-color 0.3s, color 0.3s;
}

.cabecalho-menu-ancoras a:hover {
    border-bottom: 1px solid #F5F5F5;
}

.cabecalho-login {
    display: flex;
    gap: 30px;
    padding-top: 50px;
}

.cabecalho-login a{
    padding-top: 10px;
    color: #00CCFF;
    transition: background-color 0.3s, color 0.3s;
    margin: 0;
}

.cabecalho-login a:hover {
    color: #F5F5F5;
}

.cabecalho-login button {
    padding: 10px 20px;
    font-size: 20px;
    border: 2px solid #00CCFF;
    border-radius: 12px;
    background: #292929;
    color: #00CCFF;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.cabecalho-login button:hover {
    background: #00CCFF;
    color: #292929;
    
}

.boas-vindas {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: 270px;
    margin-bottom: 100px;
}

.boas-vindas-titulo {
    font-size: 56pt;
    color: #fff;
}

.futuro {
    color: #00CCFF
}

.boas-vindas-subtitulo {
    font-size: 20pt;
    color: #fff;
    font-weight: 300;
    margin-top: 30px;
}

.boas-vindas-botao {
    margin-top: 70px;
    padding: 10px 20px;
    width: 230px;
    height: 60px;
    font-size: 20px;
    border-radius: 8px;
    border: none;
    background: #00CCFF;
    color: #292929;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.boas-vindas-botao:hover {
    background: #009ec5;
}

.boas-vindas-imagem {
    height: 350px;
}

.sobre-nos {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    gap: 150px;
    margin: 100px;
}


.sobre-nos-texto-titulo {
    padding-top: 50px;
    text-align: center;
    align-items: center;
    font-size: 50pt;
    color: #FFF;
}

.sobre-nos-dev {
    color: #00CCFF;
}

.sobre-nos-force {
    color: #CC3300;
}

.sobre-nos-texto-paragrafo {
    padding-top: 25px;
    font-weight: 300;
    color: #fff;
    text-align: center;
    font-size: 14pt;
}

.sobre-nos-simbolo1 {
    display: flex;
    align-self: flex-start;
    margin-top: 50px;
    transform: rotate(-25deg);
    color: #fff;
    font-weight: 700;
    font-size: 25px;
}

.sobre-nos-simbolo2 {
    display: flex;
    align-self: flex-end;
    transform: rotate(25deg);
    color: #fff;
    font-weight: 700;
    font-size: 25px;
}

.principal-nossos-diferenciais {
    margin: 100px;
}

.principal-nossos-diferenciais h1 {
    margin-top: 150px;
    font-size: 50pt;
    text-align: center;
    color: #FFFF;
    padding-bottom: 90px;
}

.principal-mentoria {
    display: flex;
    gap: 120px;
    flex-direction: row;
    align-items: center;
    border-bottom: 1px solid #FFFF;
    padding-bottom: 50px;
}

.principal-projetos {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    gap: 120px;
    padding-top: 50px;
    border-bottom: 1px solid #FFFF;
    padding-bottom: 50px;
}

.textos-projetos {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.textos-projetos p {
    text-align: right;
}

.principal-time-especilizado {
    display: flex;
    align-items: center;
    gap: 120px;
    padding-top: 50px;
    padding-bottom: 130px;
}

.principal-titulo-nossos-diferenciais {
    font-size: 55px;
    color: #FFFF;
    max-width: 90%;
}

.principal-paragrafo-nossos-diferenciais {
    color: #FFFF;
    padding-top: 10px;
    font-size: 25px;
}

.principal-textos-time-especilistas h2 {
    max-width: 80%;
}

.publico-alvo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin: 100px;
    gap: 50px;
}

.publico-alvo-titulo {
    text-align: center;
    font-size: 50pt;
    color: #FFF;
}

.tex-color-dev {
    color: #00CCFF;
}

.tex-color-force {
    color: #CC3300;
}

.publico-alvo-subtitulo {
    text-align: center;
    font-size: 35pt;
    color: #FFF;
}

.publico-alvo-listas {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: stretch;
}

.publico-alvo-lista-esquerda li, .publico-alvo-lista-direita li {
    
    color: #FFFF;
    padding: 30px;
    font-size: 24px;
}

.publico-alvo-lista-esquerda {
    display: flex;
    width: 50%;
    align-items: row;
    justify-content: flex-end;
    text-align: right;
}

.publico-alvo-lista-esquerda li {
    direction: rtl;
    font-size: 13pt;
}

.publico-alvo-lista-direita li {
    font-size: 13pt;
}

.borda-entre-listas {
    display: flex;
    width: 5px;
    background-color: white;
    margin-left: 10%;
    margin-right: 10%;
}

.publico-alvo-lista-direita {
   width: 50%;
}

.titulo-publico-alvo {
    padding-top: 50px;
    font-size: 30pt;
    color: #FFFF;
}

.publico-alvo-lista-direita h1 {
    padding-top: 19%;
}

.nossos-profissionais {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 100px;
    gap: 50px;
}

.nossos-profissionais-titulo {
    text-align: center;
    font-size: 50pt;
    color: #FFF;
    margin-top: 50px;
    margin-bottom: 50px;
}

.nossos-profissionais-cards-ind {
    height: 440px;
    margin: 10px;
}

.produto-preco-titulo {
    font-size: 70px;
    color: #00CCFF;
    text-align: center;
}

.produto-preco-paragrago-parcelas {
    text-align: center;
    padding-top: 35px;
    color: #FFF;
    font-size: 30px;
}

.produto-preco-container-preco {
   display: flex;
   flex-direction: row-reverse;
   justify-content: center;
   align-items: baseline;
   position: relative
}


.preco-container {
    display: flex;
    gap: 7px;
}

.produto-paragrafo-preco {
    font-size: 140px;
    color: #00CCFF;
    font-weight: 720;  
}

.produto-paragrafo-centavos {
    font-size: 30px;
    font-weight: 700;
    color: #00CCFF;
    padding-top: 11%;
}

.produto-paragrafo-cifrao {
    font-size: 30px;
    font-weight: 700;
    color: #00CCFF;
}

.principal-produto-botao {
    display: flex;
    justify-content: center;
    padding: 30px;
}

.principal-produto-botao-vaga {
    padding: 14px 20px;
    width: 350px;
    height: 90px;
    font-size: 30px;
    font-weight: 1000;
    border: 2px solid #00CCFF;
    border-radius: 10px;
    background: #00CCFF;
    color: #292929;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

.principal-produto-botao-vaga:hover {
    background: #009ec5;
    border: 2px solid #009ec5;
    color: #fff;
}

.principal-produto-preco {
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
}

.principal-produto-preco-linhas {
    height: 500px;
}

.perguntas-frequentes {
    margin: 100px;
    color: #fff;
}

.perguntas-frequentes-titulo {
    text-align: center;
    font-size: 50pt;
    color: #FFF;
    margin-top: 150px;
    margin-bottom: 100px;
}

.perguntas-frequentes-questoes {
    border-bottom: 2px solid #fff;
    margin-top: 30px;
    padding-bottom: 30px;
    cursor: pointer;
    padding-left: 50px;
    padding-right: 50px;
}

.perguntas-frequentes-questoes-pergunta {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.perguntas-frequentes-questoes-pergunta-flecha {
    width: 40px;
}

.perguntas-frequentes-resposta {
    max-height: 0;
    overflow: hidden;
    transition: max-height 1.4s ease;
}

.perguntas-frequentes-resposta p {
    padding-top: 20px;
}

.perguntas-frequentes-questoes.active .perguntas-frequentes-resposta {
    max-height: 300px;
}

.perguntas-frequentes-questoes.active img {
    transform: rotate(180deg);
}

img {
    transition: transform .4s ease-in;
}
.principal-fale-conosco {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    margin: 150px;
}

.fale-conosco-titulo {
    font-size: 45pt;
    color: #FFFF;
    text-align: center;
}

.fale-conosco-input-duvida {
    border: 2px solid #6F6F6F; 
    border-radius: 15px;
    padding: 12px; 
    background-color: #333;
    width: 900px; 
    height: 50px;
    outline: none;
    color: #FFF;
    text-shadow: none;
    caret-color: #FFF;
    font-size: 16px; 
    font-family: rubik; 
    transition: border-color 0.3s ease;
}

.publico-alvo-input-duvida::placeholder {
    color: #818080;
}

.fale-conosco-buttons {
    display: flex;
    gap: 25px;
}

.fale-conosco-email {
    padding: 14px 20px;
    width: 230px;
    font-size: 19px;
    border: 2px solid #00CCFF;
    border-radius: 17px;
    background: #292929;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.fale-conosco-email:hover {
    background: #00CCFF;
    color: #292929;
}

.fale-conosco-whatsapp {
    padding: 16px 20px;
    font-size: 19px;
    border: 2px solid #0A9D4E;
    border-radius: 17px;
    background: #0A9D4E;
    color: #ffffff;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

.fale-conosco-whatsapp:hover {
    background: #0A7D3D;
    color: #ffffff; 
    border: 2px solid #0A7D3D;
}

.rodape {
    background-color: #414141;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
}

.rodape-principal {
    padding: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.rodape-principal-logo {
    height: 100px;
    margin-right: 300px;
}

.rodape-principal-textos {
    padding: 20px;
}

.rodape-principal-textos-titulo {
    font-weight: 700;
    font-style: normal;
    color: #00CCFF;
    font-size: 25pt;
}

.rodape-principal-textos-paragrafos {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    font-weight: 300;
    font-style: normal;
    color: #fff;
    font-size: 10pt;
}

.rodape-principal-paragrafos-2 {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.rodape-secundario-textos {
    padding: 50px;
    font-weight: 300;
    font-style: normal;
    color: #fff;
    font-size: 10pt;
}




