@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    font-size: 100%;
    background: #292929;
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
}

.cabecalho-menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 20px;
    font-weight: 400;
    padding-bottom: 35px;
}

.cabecalho-menu-logo {
    width: 136px;
    padding-top: 50px;
}

.cabecalho-menu-ancoras {
    display: flex;
    gap: 50px;
    padding-top: 50px;
}

.cabecalho-menu-ancoras a {
    color: #898989;
    transition: background-color 0.3s, color 0.3s;
    padding-bottom: 1px;
}

.cabecalho-menu-ancoras a:hover {
    border-bottom: 1px solid #F5F5F5;
}

.cabecalho-login {
    display: flex;
    gap: 30px;
    padding-top: 50px;
    
}

.cabecalho-login a{
    padding-top: 10px;
    color: #00CCFF;
    transition: background-color 0.3s, color 0.3s;
    margin: 0;
}

.cabecalho-login a:hover {
    color: #F5F5F5;

}

.cabecalho-login button {
    padding: 10px 20px;
    font-size: 20px;
    border: 2px solid #00CCFF;
    border-radius: 12px;
    background: #292929;
    color: #00CCFF;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.cabecalho-login button:hover {
    background: #00CCFF;
    color: #292929;
}

.boas-vindas {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: 100px;
    margin-bottom: 100px;
}

.boas-vindas-titulo {
    font-size: 56pt;
    color: #fff;
}

.boas-vindas-subtitulo {
    font-size: 20pt;
    color: #fff;
    font-weight: 300;
    margin-top: 30px;
}

.boas-vindas-botao {
    margin-top: 70px;
    padding: 10px 20px;
    width: 230px;
    height: 60px;
    font-size: 20px;
    border-radius: 8px;
    border: none;
    background: #00CCFF;
    color: #292929;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.boas-vindas-botao:hover {
    background: #009ec5;
}

.boas-vindas-imagem {
    height: 350px;
}

.rodape {
    background-color: #414141;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
}

.rodape-principal {
    padding: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.rodape-principal-logo {
    height: 100px;
    margin-right: 300px;
}

.rodape-principal-textos {
    padding: 20px;
}

.rodape-principal-textos-titulo {
    font-weight: 700;
    font-style: normal;
    color: #00CCFF;
    font-size: 25pt;
}

.futuro {
    color: #00CCFF
}

.rodape-principal-textos-paragrafos {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    font-weight: 300;
    font-style: normal;
    color: #fff;
    font-size: 10pt;
}

.rodape-principal-paragrafos-2 {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.rodape-secundario-textos {
    padding: 50px;
    font-weight: 300;
    font-style: normal;
    color: #fff;
    font-size: 10pt;
}
